= render "partial/header"
%main
  .row
    .col.s12
      .col.s12.l6.m8.offset-l3.offset-m2
        .card-panel.grey.lighten-4.z-depth-1
          -if flash[:error]
            .alert.alert-error
              = flash[:error]
          %h2.blue-text.darken-1 Inscription
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .field
              = f.label :email,"Email"
              %br/
              = f.email_field :email, autofocus: true
            .field
              = f.label :password,"Mot de passe"
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} caractères minimum)
              %br/
              = f.password_field :password, autocomplete: "off"
            .field
              = f.label :password_confirmation,"Confirmation du mot de passe"
              %br/
              = f.password_field :password_confirmation, autocomplete: "off"
            .field
              = f.label :captcha,"Code de sécurité" 
              %p= captcha_tag 
              %p= text_field_tag :captcha
            .actions
              = f.submit "S'inscrire", class: "waves-effect waves-light btn blue darken-2"
= render "partial/footer"
